extends layout

block content
  .box.span12
    .box-header
      h2
        i.halflings-icon.white.align-justify
        span.break
        | Payments:Buyer
      .box-icon
        a.btn-setting(href='#')
          i.halflings-icon.white.wrench
        a.btn-minimize(href='#')
          i.halflings-icon.white.chevron-up
        a.btn-close(href='#')
          i.halflings-icon.white.remove
    .box-content
      table.table.table-bordered
        thead
          tr
            th Contract Id
            th Transaction Id
            //th Buyer
            th Seller
            th FI Name
            th Account #
            th Transit Code
            th Amount
            th Benificiary name
            th Status
        tbody
          tr.even
            td 100021011
            td 100977187
            //td Oil Inc
            td.center Alberta Gas
            td.center ATB Financial
            td.center 00045520223
            td.center ATB00191
            td.center $500,000
            td.center Oil Inc
            td.center
              span.label.label-success Settled
          tr.odd
            td 900023210
            td 100045673
            //td Alberta Gas
            td.center Oil&Gas
            td.center TDA Bank
            td.center 00021101221
            td.center TDA00191
            td.center $2,500,000
            td.center Alberta Gas
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100034010
            //td Canada Oil&Pipe
            td.center CalgInc
            td.center ATB Financial
            td.center 00088911291
            td.center ATB00191
            td.center $23,500,000
            td.center Canada Oil&Pipe
            td.center
              span.label.label-success Settled
          tr
            td 100032103
            td 100009201
            //td NYCGA
            td.center Alberta Oil
            td.center ATB Financial
            td.center 00088911291
            td.center ATB00191
            td.center $2,300,000
            td.center NYCGA
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100890010
            //td NGOIL Inc
            td.center NGYX
            td.center JP Chase
            td.center 002199191921
            td.center JPC019121
            td.center $21,300,000
            td.center NGOIL
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100200305
            //td Oil&Gas
            td.center CalgInc
            td.center JP Chase
            td.center 00911201221
            td.center JPC019121
            td.center $90,000
            td.center Oil&Gas
            td.center
              span.label.label-success Settled

  .box
    .box-header
      h2
        i.halflings-icon.white.align-justify
        span.break
        | Payments:Seller
      .box-icon
        a.btn-setting(href='#')
          i.halflings-icon.white.wrench
        a.btn-minimize(href='#')
          i.halflings-icon.white.chevron-up
        a.btn-close(href='#')
          i.halflings-icon.white.remove
    .box-content
      table.table.table-bordered
        thead
          tr
            th Contract Id
            th Transaction Id
            th Buyer
            //th Seller
            th FI Name
            th Account #
            th Transit Code
            th Amount
            th Benificiary name
            th Status
        tbody
          tr.even
            td 100021011
            td 100977187
            td Oil Inc
            //td.center Alberta Gas
            td.center ATB Financial
            td.center 00045520223
            td.center ATB00191
            td.center $500,000
            td.center Oil Inc
            td.center
              span.label.label-success Settled
          tr.odd
            td 900023210
            td 100045673
            td Alberta Gas
            //td.center Oil&Gas
            td.center TDA Bank
            td.center 00021101221
            td.center TDA00191
            td.center $2,500,000
            td.center Alberta Gas
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100034010
            td Canada Oil&Pipe
            //td.center CalgInc
            td.center ATB Financial
            td.center 00088911291
            td.center ATB00191
            td.center $23,500,000
            td.center Canada Oil&Pipe
            td.center
              span.label.label-success Settled
          tr
            td 100032103
            td 100009201
            td NYCGA
            //td.center Alberta Oil
            td.center ATB Financial
            td.center 00088911291
            td.center ATB00191
            td.center $2,300,000
            td.center NYCGA
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100890010
            td NGOIL Inc
            //td.center NGYX
            td.center JP Chase
            td.center 002199191921
            td.center JPC019121
            td.center $21,300,000
            td.center NGOIL
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100200305
            td Oil&Gas
            //td.center CalgInc
            td.center JP Chase
            td.center 00911201221
            td.center JPC019121
            td.center $90,000
            td.center Oil&Gas
            td.center
              span.label.label-success Settled


  .box
    .box-header
      h2
        i.halflings-icon.white.align-justify
        span.break
        | Payments:ATB
      .box-icon
        a.btn-setting(href='#')
          i.halflings-icon.white.wrench
        a.btn-minimize(href='#')
          i.halflings-icon.white.chevron-up
        a.btn-close(href='#')
          i.halflings-icon.white.remove
    .box-content
      table.table.table-bordered
        thead
          tr
            th Contract Id
            th Transaction Id
            th Buyer
            th Seller
            th FI Name
            th Account #
            th Transit Code
            th Amount
            th Benificiary name
            th Status
        tbody
          tr.even
            td 100021011
            td 100977187
            td Oil Inc
            td.center Alberta Gas
            td.center ATB Financial
            td.center 00045520223
            td.center ATB00191
            td.center $500,000
            td.center Oil Inc
            td.center
              span.label.label-success Settled
          tr.odd
            td 900023210
            td 100045673
            td Alberta Gas
            td.center Oil&Gas
            td.center TDA Bank
            td.center 00021101221
            td.center TDA00191
            td.center $2,500,000
            td.center Alberta Gas
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100034010
            td Canada Oil&Pipe
            td.center CalgInc
            td.center ATB Financial
            td.center 00088911291
            td.center ATB00191
            td.center $23,500,000
            td.center Canada Oil&Pipe
            td.center
              span.label.label-success Settled
          tr
            td 100032103
            td 100009201
            td NYCGA
            td.center Alberta Oil
            td.center ATB Financial
            td.center 00088911291
            td.center ATB00191
            td.center $2,300,000
            td.center NYCGA
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100890010
            td NGOIL Inc
            td.center NGYX
            td.center JP Chase
            td.center 002199191921
            td.center JPC019121
            td.center $21,300,000
            td.center NGOIL
            td.center
              span.label.label-success Settled
          tr
            td 100021011
            td 100200305
            td Oil&Gas
            td.center CalgInc
            td.center JP Chase
            td.center 00911201221
            td.center JPC019121
            td.center $90,000
            td.center Oil&Gas
            td.center
              span.label.label-success Settled


      //.pagination.pagination-centered
      //  ul
      //    li
      //      a(href='#') Prev
      //    li.active
      //      a(href='#') 1
      //    li
      //      a(href='#') 2
      //    li
      //      a(href='#') Next
